---
---

@import "{{ site.theme }}";
body {
  color: white;
  background-color: #373737;
}
code {
  color: black;
  background-color: white;
  padding: 4px 4px;
  border-radius: 4px;
}
h1,h2,h3,h4,h5,h6 {
  color: white;
}
